<div class="container"
    fxLayout="column"
    fxLayoutGap="10px">
    <div>
        <h2>Menu</h2>
        <hr>
    </div>
    <div>
        <mat-grid-list cols="2" rowHeight="200px" fxFlex>
            <mat-grid-tile *ngFor="let dish of dishes" [routerLink]="['/dishdetail', dish.id]">
            <!-- changing to use routerLink  (click)="onSelect(dish)"> -->
                <img height="200px" src={{dish.image}} alt={{dish.name}}>
                <mat-grid-tile-footer>{{dish.name | uppercase}}</mat-grid-tile-footer>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <!-- <div> changing to use routerLink
        <app-dishdetail [dish]="selectedDish"></app-dishdetail>
    </div> -->
</div>
