<div *ngIf="!dish && !errorMessage" class="div-center">
    <h3>Please wait...</h3>
    <mat-spinner></mat-spinner>
</div>
<div *ngIf="errorMessage" class="div-center">
    <h2>Error</h2>
    <h4>{{errorMessage}}</h4>
</div>
<div
    class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0"
    *ngIf="dish">

  <div fxFlex="50" [@visibility]='visibility'>
        <mat-card>
            <mat-card-header>
                <h3> {{dish.name | uppercase}} </h3>
            </mat-card-header>
            <img mat-card-image src="{{BaseURL + dish.image}}" alt="{{dish.name}}">
            <mat-card-content>
                <p>{{dish.description}}</p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button [routerLink]="['/dishdetail', prev]">
                    <i class="fa fa-chevron-left fa-lg"></i>
                </button>
                <button mat-button (click)="goBack()">BACK</button>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
                <button mat-button [routerLink]="['/dishdetail', next]">
                    <i class="fa fa-chevron-right fa-lg"></i>
                </button>
            </mat-card-actions>
        </mat-card>
  </div>

  <div fxFlex="40" [@visibility]='visibility'>
        <mat-list>
            <h3 matHeader>
                Comments
            </h3>
            <mat-list-item fxLayout="column" *ngFor="let comment of dish.comments">
                <p matLine>{{comment.comment}}</p>
                <p matLine>{{comment.rating}} Stars</p>
                <p matLine>-- {{comment.author}} {{comment.date | date}}</p>
            </mat-list-item>
            <mat-list-item *ngIf="commentForm.valid">
                <p matLine>{{commentForm.controls['comment'].value}}</p>
                <p matLine>{{commentForm.controls['rating'].value}} Stars</p>
                <p matLine>-- {{commentForm.controls['author'].value}}</p>
            </mat-list-item>
        </mat-list>
        <div class="comment-form-container">
            <form [formGroup]="commentForm" #cform="ngForm" (ngSubmit)="onSubmit()">
                <section class="form-section">
                    <mat-form-field class="form-margin">
                        <input matInput formControlName="author" placeholder="Name">
                        <mat-error *ngIf="formErrors.author">{{formErrors.author}}</mat-error>
                    </mat-form-field>
                </section>
                <section class="form-section">
                    <mat-slider class="form-margin"
                        formControlName="rating"
                        thumbLabel
                        [displayWith]="formatLabel"
                        tickInterval="1"
                        min="1"
                        max="5">
                    </mat-slider>
                </section>
                <section class="form-section">
                    <mat-form-field class="form-margin full-width">
                        <textarea matInput formControlName="comment" placeholder="Your comment"></textarea>
                        <mat-error *ngIf="formErrors.comment">{{formErrors.comment}}</mat-error>
                    </mat-form-field>
                </section>
                <section class="form-section">
                    <button type="submit" [disabled]="commentForm.invalid" mat-button class="background-primary text-floral-white">Submit</button>
                </section>
            </form>
        </div>
  </div>
</div>
